[Unit]
Description=Use USB as TTY, Ethernet, Mass Storage
After=basic.target

[Service]
ExecStart=/usr/local/bin/gem-usb-gadgets run
ExecStop=/usr/local/bin/gem-usb-gadgets clean
RemainAfterExit=yes
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
